
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}


header {
  background-color: #165eb6;
  color: white;
  padding: 10px;
}

header h1 {
  margin: 0;
  padding: 0;
}

.map-details {
  position: relative;
}

.details {
  position: absolute;
  max-width: 250px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 25px;
  top: 60px;
  left: 10px;
  z-index: 1;
}